#app {
    padding-bottom: 2rem;
}

.swapi-list {
    margin: 1rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.swapi-list .list-group-item {
    flex-basis: 45%;
    border: 1px solid rgba(150, 150, 150);
    padding: 0;
}

.swapi-list .list-group-item article {
    display: flex;
    flex-flow: column;
    min-height: 200px;
}

.swapi-list .list-group-item article header {
    flex-basis: 50px;
    border-bottom: 1px solid black;
    padding: 10px;
}

.swapi-list .list-group-item article main {
    flex-basis: 100px;
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.swapi-list .list-group-item article footer {
    flex-basis: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.swapi-list .list-group-item article footer button {
    border: 1px solid rgb(70, 70, 70);
}

.film-item-article, .character-item-article {
    padding: 1rem;
    border: 1px solid black;
}

.film-item-article header{
    border-bottom: 1px solid black;
}

.film-item-article main {
    display: flex;
    flex-flow: row wrap;
    margin: 1rem 0;
}

.film-item-article main h3 {
    width: 100%;
}

.film-item-article main pre {
    width: 60%;
    text-align: center;
}

.film-item-article main aside {
    width: 40%;
    border-left: 1px solid rgb(201, 201, 201);
    padding-left: 1rem;
}

.film-item-article footer .character-list, .character-item-article footer .film-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: 50%;
    margin-left: 4rem;
}

.index-list {
    list-style-position: inside;
}

.index-list li {
    padding: 1rem;
}

.index-list li a {
    text-decoration: none;
    font-size: 1.5rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pagination-container button {
    min-width: 86px;
}

.pages-list-container {
    display: flex;
    gap: 0.3rem;
}

.pages-list-item {
    padding: 7px;
    min-width: 40px;
    background-color: rgb(238, 227, 216);
    border: 2px solid rgb(29, 21, 21);
    text-align: center;
}

.pages-list-item.current {
    background-color: rgb(238, 255, 216);
}

.loading-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.loading-container p {
    font-size: 2rem;
}